{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="hero has-background-light is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head  ">
    <header class="navbar has-background-success">
      <div class="container ">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title has-text-white">Todo-Flask</h1>
          </a>
          <span class="navbar-burger burger"
            onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
            data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Yada
            </a>
            <a class="navbar-item">
              Wada
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">

      <div class="field is-expanded">
        <form action="/" method="POST">
          <div class="field has-addons">

            <div class="control is-expanded">
              <input class="input is-large" type="text" name='content' id='content' placeholder="What's in your mind?">
            </div>
            <div class="control">
              <a class="button is-large done">
                <span class="icon is-large"><input type='submit' class="fa fa-plus fa-2x todo-add done" ;"
                    aria-hidden="true"></span>
              </a>
            </div>

          </div>
        </form>
      </div>



      <div class="box">
        <article class="media">

          <div class="media-content">
            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla
                egestas. Nullam condimentum luctus turpis.
              </p>
            </div>
          </div>

          <div class="control done">
            <a class="button done">
              <span class="icon"><i class="fa fa-check fa-2x ongoing done" ;" aria-hidden="true"></i></span>
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>



  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <p class="has-text-centered has-background-black has-text-white">
      Todo-flask is built using <a href="https://palletsprojects.com/p/flask/">Flask </a> and <a
        href="http://bulma.io">Bulma</a>.
    </p>
  </div>
</section>

{% endblock %}